@import url('https://font.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
p
{
    font-weight: 300;
    color: #111;
}
body
{
    min-height: 1000px;
}


/* Bagian Banner */
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(pict/home1.jpg);
    background-size: cover;
}
.banner .content 
{
    max-width: 1000px;
    text-align: center;
}
         
.banner .content .texture p
{
    font-size: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(253, 253, 253);
    font-weight: 900 ;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner .content p
{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.5);
}
.btn
{
    font-size: 1em;
    color: #fff;
    background: #10813f;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover
{
    letter-spacing: 6px;
}


/* Bagian NAVIGASI DAN STICKY */
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0,5s;
}
header.sticky
{
    background: #10813f;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(247, 247, 247, 0.05);
}
header .logo
{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo
{
    color: rgb(255, 255, 255);
    background-color: transparent;
}
header .logo span
{
    color: #d5ecdf;
}
header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li
{
    list-style: none;
    margin-left: 30px;
}
header.sticky .navigation li a
{
    color: rgb(255, 255, 255);
}
header .navigation li a
{
    text-decoration: none;
    font-size: 1em;
    color: #10813f;
    font-weight: bold;
}
/* ////////////////////////////////////////////////////////////// */
section
{
    padding: 100px;
}
/* /////////////////////////////////////////////////////////////// */


/* Bagian ABOUT */
.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col150
{
    position: relative;
    width: 48%;
}

.about .row .col150 p
{
    font-size: 1.2em;
    font-weight: 600 ;
    color: #555;
    justify-content: center;
    text-align: justify;
}
.tittleText
{
    color: #111;
    font-size: 2em;
    font-weight: 300;
    
}
.tittleText span
{
    color: #10813f;
    font-weight: 700;   
    font-size: 1.5em;
    
}
.row .col150 .imgBx
{
    position: relative;
    width: 100%;
    min-height: 300px;
    height: 100%;
}
.row .col150 .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 650px;
    height: 100%;
    object-fit: fill;
}
.rowo .contactForm
{
    position: relative;
    top: 0;
    left: 0;
    width: 650px;
    height: 100%;
    object-fit: fill;
}
.title 
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* /* ///////////////////////////////////////////////// * */
a
{
    color: #111;
}
/* //////////////////////////////////////////////////////// */


/* Bagian PRODUK */
.menu .content
{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;

}
.menu .content .box
{
    width: 340px;
    margin: 20px;
    border: 15px solid rgb(167, 224, 189);
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.menu .content .box .imgBx
{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.menu .content .box .text 
{
    padding: 15px 0 5px;
}

/* Bagian GARDEN */
.expert .content
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}
.expert .content .box
{
    width: 250px;
    margin: 15px; 
}
.expert .content .box .imgBx
{
    position: relative;
    width: 100%;
    height: 300px;
}
.expert .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert .content .box .text 
{
    padding: 15px 0 5px;
}
.expert .content .box .text h3
{
    font-weight: 400;
    color: #111;
}

/* Bagian KONTAK */
.login
{
    background: url(pict/bot.jpg);
    background-size: cover;
}
.tittleText1
{
    color: rgb(255, 255, 255);
}
.contactForm
{
    padding: 10px 40px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 50px rgba(0,0,0,0.5);
    max-width: 500px;
    margin-top: 30px;
}
.contactForm h3
{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea

{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type="submit"]
{
    font-size: 1em;
    color: #fff;
    background: #10813f;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border:none;
    cursor: pointer;
}
.copyrightText 
{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copyrightText p
{
    color: rgb(255, 255, 255);
}
.copyrightText a
{
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
}
.rowo
{
    position: relative;
}



.service
{
    background-color: rgba(0,0,0,0.08);
    background-size: cover;
}
.box 
{
	color: #114d41;
    margin-top: 30px;
}
.box::after {
	content: '';
	display: block;
	clear: both;
}
.box .col-4 {
	width: 25%;
	padding: 30px;
	box-sizing: border-box;
	text-align: center;
	float: left ;
}
.box .col-4 h4 {
	margin: 20px 0;
}
.icon {
	width: 70px;
	height: 70px;
	border: 1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin:0 auto;
}
footer
{
    background-color: #10813f;
}
.tittleText2
{
    color: #10813f;
    font-weight: 700;   
    font-size: 1.5em;
    text-align-last: center;
}
.tittleText2 span
{
    color: #10813f;
    font-weight: 700;   
    font-size: 1.5em;
}
.tittleText1 span
{
    color: #ffffff;
    font-weight: 700;   
    font-size: 1.5em;
}
.tittleText1
{
    color: #ffffff;
    font-weight: 700;   
    font-size: 1.5em;
}
.product-center
{
    margin-top: 20%;
}
.error:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 #4e73df;
    top: 0;
    color: #5a5c69;
    background: #f8f9fc;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }
  :after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 #e74a3b;
    top: 0;
    color: #5a5c69;
    background: #f8f9fc;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
  }
  .error {
    color: #5a5c69;
    font-size: 7rem;
    position: relative;
    line-height: 1;
    width: 12.5rem;
  }
  
